@use './abstract/variables' as v;

.trending__tabs--headings {
    gap: 2rem;
    padding: v.$gap-small 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
}

.trending__tabs--buttons {
    width: 100%;
    text-align: left;
    padding: v.$gap-small 0;
    position: relative;
    border: none;
    background-color: transparent;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 5rem;
        height: 2px;
        background-color: black;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform .3s linear;
    }

    &:hover::after, 
    &:focus::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

//TODO: Move this to either global or another partial that handles galleries
.list__outfits {
    display: grid;
    gap: v.$gap-small;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    &--item {
        padding: 2rem;
        display: grid;
        grid-template-rows: min-content;
        gap: v.$gap-small;

        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}  
