@use '../abstract/variables' as v;

.accordion-item {
    flex-basis: 100%;

    h3 {
        margin: 2rem 0;
        text-transform: uppercase;
    }

    a {
        text-transform: uppercase;

        &:is(:hover, :focus) {
            color: v.$color-primary;
        }
    }

    ul,address {
        gap: v.$gap-small;
    }
} 

.accordion__heading {
    position: relative;
    cursor: pointer;

    &::after {
        content: '+';
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }
}

.accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
}

.accordion-item.active .accordion__heading::after {
    content: '-';
}

.accordion-item.active .accordion__content {
    max-height: 9999px;
}