html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, p, button, input {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    max-width: 100%;
}

.wrapper {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 4rem;
    background-color: white;
}