@use '../abstract/variables' as v;

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    max-width: 100%;
}

fieldset, input {
    border: none;
}

.sticker {
    font-size: 1.8rem;
    padding: 2rem v.$gap-small;
    border-radius: 50%;
    position: absolute;
    bottom: v.$gap-small;
    right: v.$gap-small;
    color: v.$color-white;

    &--red {
        background-color: v.$color-primary;
    }
} 