@use './variables' as v;

@font-face {
    font-family: 'Montserrat'; 
    src: url('../../../../assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../../../assets/fonts/Merriweather-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../../../assets/fonts/Merriweather-Light.woff') format('woff');
    font-weight: light;
}


h2, h4, h5, p, button, input, li, a {
    font-family: 'Montserrat', sans-serif;
    color: v.$color-black;
}

h3, legend {
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-weight: light;
    color: v.$color-black;
}

h2 {
    font-size: 2.5rem;
}

h3, h4, h5, p, input, a, button {
    font-size: 2rem;
}

ion-icon {
    font-size: 3.5rem;
    color: white;
    --ionicon-stroke-width: 2rem;
}

.heading__collection {
    font-size: 4.5rem;
    font-style: normal;
}

.price {
    color: v.$color-primary;
}

.price-strikethrough {
    color: v.$color-grey;
    text-decoration: line-through;
}
