@use './variables' as v;

@font-face {
    font-family: 'Merriweather';
    src: url('../../../../assets/fonts/Merriweather-Italic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../../../../assets/fonts/Merriweather-Light.woff') format('woff');
    font-weight: light;
}

@font-face {
    font-family: 'Montserrat'; 
    src: url('../../../../assets/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
}

h1 {
    font-family: 'Merriweather', Arial;
    font-style: italic;
    font-size: 5rem;
}

h2 {
    font-family: 'Montserrat', Arial;
    font-weight: normal;
    font-size: 3rem;
}

h3, h4, h5, p, input, a, button {
    font-size: 2rem;
}

.price {
    color: v.$color-primary;
}

.price-strikethrough {
    color: v.$color-grey;
    text-decoration: line-through;
}