.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-padding {
    padding: 5% 0;
}

.text-align-left {
    text-align: left;
}