$color-primary: #ca7379;
$color-primary-dark: #b5676d;
$color-secondary: #8090a1;
$color-secondary-dark: #738191;
$color-tertiary: #c1ac91;
$color-tertiary-dark: #ad9a82;

$color-white: #fff;
$color-black: #212121;
$color-grey-dark: #444;
$color-grey: #ccc;
$color-grey-light: #fafafa;

$gap-small: 1rem;
$spacing-small: 5px;

@mixin background-img($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}
