$color-primary: #ca7379;
$color-primary-dark: #b5676d;
$color-secondary: #8090a1;
$color-secondary-dark: #738191;
$color-tertiary: #c1ac91;
$color-tertiary-dark: #ad9a82;

$color-white: #fff;
$color-black: #212121;
$color-grey-dark: #444;
$color-grey: #ccc;