@use '../abstract/variables' as v;

.carousel__container {
    @include v.background-img('../assets/images/slideshow/home6-slideshow3.jpg');
    min-height: 70vh;
    display: grid;
    align-content: center;

    &--teaser {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.carousel__content--teaser {
    gap: 2rem;
    width: 100%;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;


    &-toggle {
        align-self: flex-end;
        padding: 2rem;
        margin-top: 10%;

        button {
            background: transparent;
            border: 2px solid v.$color-white;
            border-radius: 50%;
            padding: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &:is(:hover, :focus, :active) {
                // border: 2px solid v.$color-grey-dark;
                background-color: v.$color-white;
            }
        }
    }
}