html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
}

h1, h2, h3, h4, h5, p, ul, button, input {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.wrapper {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-col-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-padding {
  padding: 5% 0;
}

.text-align-left {
  text-align: left;
}

.snaps-inline {
  -ms-scroll-snap-type: inline mandatory;
      scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: start;
}

.btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 4rem;
  background-color: #ca7379;
  color: #fff;
  border: none;
}
.btn:is(:hover, :focus) {
  background-color: #212121;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #212121;
}
.btn__product {
  background: transparent;
  border: 1px solid #444;
  border-radius: 50%;
  padding: 2px;
}
.btn__product:is(:hover, :focus-within) {
  border: 1px solid #ca7379;
}
.btn__product:is(:hover, :focus-within) .icon-grey {
  color: #ca7379;
}

.icon-grey {
  color: #444;
  font-size: 3rem;
  margin: 3px 2px 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../../../assets/fonts/Merriweather-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../../../../assets/fonts/Merriweather-Light.woff") format("woff");
  font-weight: light;
}
h2, h4, h5, p, button, input, li, a {
  font-family: "Montserrat", sans-serif;
  color: #212121;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h3, legend {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: light;
  letter-spacing: 5px;
  color: #212121;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  line-height: 2;
  text-transform: uppercase;
}

h3, h4, h5, p, input, a, button {
  font-size: 2rem;
}

ion-icon {
  font-size: 3.5rem;
  color: white;
  --ionicon-stroke-width: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.heading__collection {
  font-size: 4.5rem;
  font-style: normal;
}

.price {
  color: #ca7379;
}

.price-strikethrough {
  color: #ccc;
  text-decoration: line-through;
  font-size: 1.8rem;
}

header {
  display: none;
}

.carousel__container {
  min-height: 70vh;
  background: url("../assets/images/home6-slideshow3.jpg") no-repeat center;
  background-size: cover;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}
.carousel__container--teaser {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__content--teaser {
  gap: 2rem;
  width: 100%;
  margin-top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}
.carousel__content--teaser-toggle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 2rem;
  margin-top: 10%;
}

.promotions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.promotions__segment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotions__segment--red {
  background-color: #ca7379;
}
.promotions__segment--blue {
  background-color: #8090a1;
}
.promotions__segment--yellow {
  background-color: #c1ac91;
}
.promotions__segment--text {
  text-align: center;
  padding: 1.5rem;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}
.promotions__segment--text p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  font-weight: light;
}
.promotions__segment--image {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 1.5rem;
}
.promotions__segment--image-red {
  background: #b5676d;
}
.promotions__segment--image-yellow {
  background: #ad9a82;
}
.promotions__segment--image-blue {
  background: #738191;
}

.trending__tabs--headings {
  gap: 2rem;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
}

.trending__tabs--buttons {
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  position: relative;
  border: none;
  background-color: transparent;
}
.trending__tabs--buttons::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.trending__tabs--buttons:hover::after, .trending__tabs--buttons:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.list__outfits {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 95%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.list__outfits--item {
  padding: 2rem;
  display: grid;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  gap: 1rem;
}
.list__outfits--item-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}